---
layout: compress
---

<!DOCTYPE html>
<html>
<html>
<head>
  <title>Тестовое задание для «Альфа-Лаборатории»</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="https://alfa.verdugo.ru/i/og-cover.png">
  <style>{% capture css %}{% include styles.scss %}{% endcapture %}
    {{ css | scssify }}</style>
  <script src="js/scrollreveal.js"></script>
</head>
<body>
<main class="grid" style="visibility:hidden">
  <div class="unit whole hidden only-on-mobiles" style="margin-top:-2px;margin-bottom:48px"><div class="logo" style="margin-left:0!important"></div></div>
  <div class="unit three-fourths"><h1>Тестовое задание<br>дизайнера интерфейсов<br>для&nbsp;<span>«Альфа-Лаборатории»</span></h1></div>
  <div class="unit one-fourth align-right hide-on-mobiles" style="padding-top:5px"><a href="//behance.net/d-v-n" target="_blank"><div class="logo"></div></a></div>
  <div class="space unit whole"></div>
  <div class="unit two-thirds gutter">
    <h2>Задача</h2>
    Создать прототип интерфейса оплаты счета мобильного телефона для&nbsp;Альфа-Банка и&nbsp;показать пользовательское взаимодействие. Для&nbsp;простоты и&nbsp;скорости ограничиться мобильной <nobr>веб-версией</nobr>.
  </div>
  <div class="unit one-third second-small">
    <a href="i/letter-big.jpg" target="_blank" class="letter-link"><img src="i/letter.png" width="122"><span>Письмо<br>с&nbsp;заданием</span></a>
  </div>
  <div class="space unit whole"></div>
  <div class="unit" style="width:45%">
  <div id="MSvideoContainer">
    <div id="MSvideoContent"><video loop autoplay mute style="width:321px;height:564.5px"><source src="i/UI.mp4" type="video/mp4"></video></div></div>
  </div>
  <div class="unit prototypeText gutter" style="width:55%">
    <h2>Прототип</h2>
    Для решения задачи сделан HTML-прототип. В&nbsp;отличие от&nbsp;статичных картинок, прототип наглядно показывает поведение элементов  при взаимодействии (анимации, переходы, подсветка ошибок и&nbsp;т.д.), позволяет тестировать интерфейс &laquo;в&nbsp;поле&raquo; и&nbsp;облегчает работу разработчиков фронт-энда.<br>
    <a href="/ui/" target="_blank" class="button">Открыть прототип в браузере</a>
  </div>
  <div class="unit whole space space2"></div>
  <div class="grid">
  <div class="unit one-third gutter">
    <a href="i/guest-pay.jpg" target="_blank"><div class="img-contain"><img src="i/guest-pay.jpg" height="240"></div><br><br>
    <h2><span>Платежи для всех</span></h2></a>
    Банку выгодно проводить платежи, в&nbsp;том числе с&nbsp;карт других банков&nbsp;&mdash; это приносит комиссионый доход. Для гостя в&nbsp;форму добавятся поля ввода данных карты и&nbsp;информация о&nbsp;комиссии.
  </div>
  <div class="unit one-third gutter second">
    <div class="img-contain"><!--img src="i/operator.gif" height="120"--><br><br><img src="i/operators.png" height="192"></div><br><br>
    <h2><span>Автоопределение оператора</span></h2>
    Оператор определяется по&nbsp;первым 5&nbsp;цифрам номера. Если определение не&nbsp;сработало или сработало неверно, оператор выбирается из меню.
  </div>
  <div class="unit one-third gutter second">
    <div class="img-contain"><img src="i/errors.gif" height="48"></div><br><br>
    <h2><span>Подсветка ошибок</span></h2>
    Неподходящие значения сразу&nbsp;подсвечиваются при&nbsp;вводе.
  </div>
</div>
<div class="unit whole space hide-on-mobiles"></div>
<div class="grid">
  <div class="unit one-third gutter second">
    <div class="img-contain"><img src="i/modular.gif" height="168"></div><br><br>
    <h2>Модульный дизайн</h2>
    Оформление элементов подобрано с&nbsp;учетом нового оформления сайтов «Альфа-Банка». Элементы расставлены по&nbsp;заданной модульной сетке, легко воспроизводимой при&nbsp;вёрстке.
  </div>
  <div class="unit one-third gutter second">
    <div class="img-contain"><img src="i/type.png" width="230" style="margin-top:-20px"></div><br><br>
    <h2>С&nbsp;вниманием к&nbsp;типографике</h2>
    Числа правильно разбиваются на&nbsp;разряды, используются шпации правильной ширины и&nbsp;специальные типографские знаки. Размер букв подобран в&nbsp;соответствии с&nbsp;сеткой, межбуквенные расстояния откернены.
  </div>
</div>

  <div class="unit whole space"></div>
  <div class="unit whole space"></div>
  <div class="unit half gutter">
    <h2>Программы и&nbsp;технологии</h2>
    <br><a href="//sketchapp.com" target="_blank"><img src="i/sketch.png" height="32"></a>&nbsp;&nbsp;<a href="//atom.io" target="_blank"><img src="i/atom.png" height="32"></a>&nbsp;&nbsp;<a href="//adobe.com" target="_blank"><img src="i/photoshop.png" height="32"></a>&nbsp;&nbsp;<a href="//apple.com/finalcut/" target="_blank"><img src="i/finalcut.png" height="32"></a><br><br>
    HTML, CSS (SASS), JavaScript, jQuery, Git
  </div>
  <div class="unit half second">
    <h2>Исходный код</h2><br>
    &mdash;&nbsp;<a href="//github.com/danielverdugo/alfa-test/blob/master/Sketch/alfa-test.sketch?raw=true" target="_blank"><span>Исходный Sketch-макет</span></a><br>
    &mdash;&nbsp;<a href="//github.com/danielverdugo/alfa-test/tree/master/ui" target="_blank"><span>Прототип (HTML, CSS&thinsp;/&thinsp;SASS, JavaScript)</span></a><br>
    &mdash;&nbsp;<a href="//github.com/danielverdugo/alfa-test" target="_blank"><span>Код этой страницы (Jekyll)</span></a>
  </div>
  <div class="unit whole space"></div>
  <div class="unit whole">&copy; <a href="//verdugo.ru/" target="_blank"><span>Даниэль Вердуго Носов</span></a>, 2017<br><br>
    <div class="likely">
    <div class="facebook">Расшарить</div>
    <div class="vkontakte">Поделиться</div>
    <div class="pinterest">Запинить</div>
    <div class="telegram">Переслать</div>
</div></div>
  <div class="unit whole space"></div>
</main>
<script>
  window.sr = ScrollReveal({viewFactor:0.01,scale: 0.95,duration: 900});
  sr.reveal("main");

  var append=function(a,t,e,n,d){var r=document.createElement(t);e&&r.setAttribute(e[0],e[1]),n&&r.setAttribute(n[0],n[1]),d&&r.setAttribute(d[0],d[1]),document.getElementsByTagName(a)[0].appendChild(r)};

  document.addEventListener("DOMContentLoaded",function(){
			append("head","script",["src","js/likely.js"]);
	});
</script>
<script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45432387 = new Ya.Metrika({ id:45432387, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script><noscript><div><img src="https://mc.yandex.ru/watch/45432387" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</body>
</html>
