---
layout: compress
---

<!DOCTYPE html>
<html>
<html>
<head>
  <title>Тестовое задание для «Альфа-Лаборатории»</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="i/og-cover.png">
  <style>{% capture css %}{% include styles.scss %}{% endcapture %}
    {{ css | scssify }}</style>
  <script src="js/scrollreveal.js"></script>
</head>
<body>
<main class="grid" style="visibility:hidden">
  <div class="unit whole hidden only-on-mobiles" style="margin-top:-2px;margin-bottom:48px"><div class="logo" style="margin-left:0!important"></div></div>
  <div class="unit three-fourths"><h1>Тестовое задание<br>дизайнера интерфейсов<br>для&nbsp;<span>«Альфа-Лаборатории»</span></h1></div>
  <div class="unit one-fourth align-right hide-on-mobiles" style="padding-top:5px"><a href="//behance.net/d-v-n" target="_blank"><div class="logo"></div></a></div>
  <div class="space unit whole"></div>
  <div class="unit two-thirds gutter">
    <h2>Задача</h2>
    Создать прототип интерфейса оплаты счета мобильного телефона для&nbsp;Альфа-Банка и&nbsp;показать пользовательское взаимодействие. Для&nbsp;простоты и&nbsp;скорости ограничиться мобильной <nobr>веб-версией</nobr>.
  </div>
  <div class="unit one-third second-small">
    <a href="letter-big.jpg" target="_blank" class="letter-link"><img src="i/letter.png" width="122"><span>Письмо<br>с&nbsp;заданием</span></a>
  </div>
  <div class="space unit whole"></div>
  <div class="unit" style="width:45%">
  <div id="MSvideoContainer">
    <div id="MSvideoContent"><video loop autoplay mute style="width:321px;height:564.5px"><source src="i/UI.mp4" type="video/mp4"></video></div></div>
  </div>
  <div class="unit prototypeText gutter" style="width:55%">
    <h2>Прототип</h2>
    Для решения задачи сделан HTML-прототип. В&nbsp;отличие от&nbsp;статичных картинок, прототип наглядно показывает поведение элементов  при взаимодействии (анимации, переходы, подсветка ошибок и&nbsp;т.д.), позволяет тестировать интерфейс &laquo;в&nbsp;поле&raquo; и&nbsp;облегчает работу разработчиков фронт-энда.<br>
    <a href="/ui/" target="_blank" class="button"><span>Открыть прототип в браузере</span></a>
  </div>
  <div class="unit whole space"></div>
  <div class="unit half gutter">
    <h2>Программы и&nbsp;технологии</h2>
    <br><a href="//sketchapp.com" target="_blank"><img src="i/sketch.png" height="32"></a>&nbsp;&nbsp;<a href="//atom.io" target="_blank"><img src="i/atom.png" height="32"></a>&nbsp;&nbsp;<a href="//adobe.com" target="_blank"><img src="i/photoshop.png" height="32"></a>&nbsp;&nbsp;<a href="//apple.com/finalcut/" target="_blank"><img src="i/finalcut.png" height="32"></a><br><br>
    HTML, CSS (SASS), JavaScript, jQuery, Git
  </div>
  <div class="unit half second">
    <h2>Исходный код на&nbsp;ГитХабе</h2><br>
    &mdash;&nbsp;<a href="//github.com/danielverdugo/alfa-test/tree/master/ui" target="_blank"><span>Прототип (HTML, CSS&thinsp;/&thinsp;SASS, JavaScript)</span></a><br>
    &mdash;&nbsp;<a href="//github.com/danielverdugo/alfa-test/blob/master/Sketch/alfa-test.sketch?raw=true" target="_blank"><span>Исходный Sketch-макет</span></a><br>
    &mdash;&nbsp;<a href="//github.com/danielverdugo/alfa-test" target="_blank"><span>Код этой страницы</span></a>
    <a href=""></a>
  </div>
  <div class="unit whole space"></div>
  <div class="unit whole">&copy; Даниэль Вердуго Носов, 2017<br><br>
    <div class="likely">
    <div class="facebook">Поделиться</div>
    <div class="vkontakte">Поделиться</div>
    <div class="pinterest">Запинить</div>
    <div class="telegram">Переслать</div>
</div></div>
  <div class="unit whole space"></div>
</main>
<script src="js/likely.js" type="text/javascript"></script>
<script>
  window.sr = ScrollReveal({viewFactor:0.1,scale: 0.95,duration: 900});
  sr.reveal("main");
  (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45432387 = new Ya.Metrika({ id:45432387, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/45432387" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</body>
</html>
